<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.springframework.org/schema/security">
	<head></head>
	<body th:fragment="header">
		<header>
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
			    <div class="navbar-header">
			      <a class="navbar-brand" href="#">Shopping Lists - Team 2</a>
			    </div>
			    <ul class="nav navbar-nav">
					<li class="active"><a href="/">Home</a></li>
					<li sec:authorize="isAuthenticated()">
						<a href="#" onclick="$('#logoutForm').submit();">Sign Out</a>
						<form th:action="@{/logout}" method="post" style="display: none;" id="logoutForm" sec:authorize="isAuthenticated()">
							<input type="submit" value="Log Out" />
						</form>
					</li>
					<li>
						<a href="/signup" sec:authorize="!isAuthenticated()">Sign Up</a>
					</li>
					<li>
						<a href="/login" sec:authorize="!isAuthenticated()">Sign In</a>
					</li>
			    </ul>
			  </div>
			</nav>
		</header>
	</body>
</html>