<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
	<head>
		<title>Lists</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body layout:fragment="content">
		<div class="container">
			<h1>Shopping Lists</h1>
			<table class="table table-striped table-hover table-responsive">
				<tbody>
					<tr th:each="list : ${lists}">
						<td th:text="${list.name}" th:style="@{|color: ${list.color};|}" style="vertical-align: middle;"></td>
						<td style="vertical-align: middle;">
							<a class="btn btn-primary" th:href="@{|/lists/${list.id}|}">View</a>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<a class="btn btn-primary" th:href="@{|/lists/${list.id}/delete|}">Delete</a>
						</td>
					</tr>
				</tbody>
			</table>
			<a class="btn btn-primary pull-right" href="/" th:href="@{|/lists/add|}"
				role="button">Add List</a>
		</div>
	</body>
</html>