<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/basic">
	<head>
		<title>Delete List</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body layout:fragment="content">
		<div class="container">
			<h1 th:text="${shoppingList.name}" th:style="@{|color: ${shoppingList.color};|}">Delete List</h1>
			<p>Are you sure you want to delete this list?</p>
			<form method="POST" enctype="multipart/form-data">
				<input type="hidden" th:field="${shoppingList.id}"/>
				<ul>
					<li><strong>List Name: </strong><span th:text="${shoppingList.name}"></span></li>
					<li><strong>List Color: </strong><span th:text="${shoppingList.color}"></span></li>
				</ul>
				<button type="submit" class="btn btn-primary pull-right">Delete</button>
			</form>
		</div>
	</body>
</html>